body,
.navigation,
.header-navbar{
	font-family: 'Cairo', sans-serif;
}
.dropdown .dropdown-menu.dropdown-menu-right, .dropup .dropdown-menu.dropdown-menu-right, .btn-group .dropdown-menu.dropdown-menu-right {
    right: 0px !important;
	left: inherit !important;
}